.bg {
  background-image: url("https://www.nawpic.com/media/2020/desktop-backgrounds-nawpic-1.png");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px;
}



h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    color: aqua;
}

h3{
    color: white;
}

button{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    font-weight: bold;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 40px;
    color: rgb(163, 19, 115);
}


.card-main{
    display: flex;
    justify-content: space-around;
}


.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 60px;
  }